extends ../layout

block scriptsArea
  script(src="/scripts/jquery-3.3.1.min.js")
  script(src="/scripts/gateone.js") 
  script
    include ../../scripts/init.js

block content  
  #loading-bar
    .bar
      span 读取中...
      br
      img(src='/icon/loading-icon.svg', width='30')
  #gateone_container(style='position: fixed; top: 0; left: 0; width: 100%; height: 100%;')
    #gateone